MONGODB_URI=mongodb://asd:asdasdasd@cluster0-shard-00-00-ieh9u.mongodb.net:27017,cluster0-shard-00-01-ieh9u.mongodb.net:27017,cluster0-shard-00-02-ieh9u.mongodb.net:27017/test?ssl=true&replicaSet=Cluster0-shard-0&authSource=admin&retryWrites=true&w=majority
PORT=3001